##  파일명/디렉토리명: 특정 파일 또는 디렉토리를 무시합니다.
##  *: 와일드카드로 모든 파일을 포함합니다.
##  !: 특정 파일/디렉토리를 제외하지 않도록 설정.
##  #: 주석 처리.

# 모든 파일과 디렉토리 무시
*

# CHANGELOG와 README 파일은 무시하지 않도록 포함
!CHANGELOG.md
!README.md
!build.bat
!XjeraTerm.ico

# src 디렉토리 포함 gittoken.py 파일만 제외
!src/
!src/**
src/__pycache__
src/__pycache__/**
src/gittoken.py


# dist 디렉토리와 그 하위 파일들은 무시하지 않도록 포함
!dist/
!dist/**
dist/env_set.txt

# .gitignore 파일 자체는 무시하지 않도록 포함
!.gitignore
